

#tabela{
    width: 60%;
    margin: auto;
}
#tvalor{
    width: 25%;
}
#tlocal{
    width: 75%;
}
#pago{
    width: 20px;
    height: 20px;
    margin-top: 6px;
}
p{
    font-weight: bold;
}
@media screen and (max-width: 700px){
    #tabela{
        width: 100%;
        margin: auto;
    }
    #tvalor{
        width: 30%;
    }
    #tlocal{
        width: 60%;
    }
}